In [5]:
import pandas as pd
import pymongo

# Extraction

In [6]:
df = pd.read_csv('Data/Independents100.csv')
df.head()

,Rank,Restaurant,Sales,Average Check,City,State,Meals Served,Lat,Long
0,34,Bottega Louie,18521000.0,36,Los Angeles,CA,322562.0,36.778261,-119.417932
1,40,Original Joe's Westlake,18159612.0,35,Daly City,CA,473492.0,36.778261,-119.417932
2,47,Harris Ranch Inn & Restaurant,17599468.0,29,Coalinga,CA,611928.0,36.778261,-119.417932
3,63,China Live,15106280.0,54,San Francisco,CA,300000.0,36.778261,-119.417932
4,71,Cliff House,14465847.0,40,San Francisco,CA,199901.0,36.778261,-119.417932

# Transfom

In [7]:
df1 = df.set_index('Rank').sort_index()
df1.head()

,Restaurant,Sales,Average Check,City,State,Meals Served,Lat,Long
Rank,,,,,,,,
1,Carmine's (Times Square),39080335.0,40,New York,NY,469803.0,43.299428,-74.217933
2,The Boathouse Orlando,35218364.0,43,Orlando,FL,820819.0,27.664827,-81.515754
3,Old Ebbitt Grill,29104017.0,33,Washington,DC,892830.0,38.905985,-77.033418
4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,NY,198500.0,43.299428,-74.217933
5,Bryant Park Grill & Cafe,26900000.0,62,New York,NY,403000.0,43.299428,-74.217933

# Load

In [8]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.project2_db
restaurantes = db.retaurantes
restaurantes.insert_many(df1.to_dict(orient='records'))